<div class="row">
    <div class="col-12">
        <p><b>Datos generales de anamnesis</b></p>
    </div>

</div>
<div class="">
    <div class="row">
        <div class="col-3">
            Informacion examen físico
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="newAnamnesis.id_physical_exam" class="form-control"
                placeholder="Examen físico">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Motivo de consulta
        </div>
        <div class="col-9">
            <!-- objetoPersonalData.reason_consultation -->
            <input type="text" [(ngModel)]="newAnamnesis.reason_consultation" class="form-control"
                placeholder="Motivo de consulta">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Fecha padecimiento
        </div>
        <div class="col-9">
            <input type="date" [(ngModel)]="newAnamnesis.condition_Date" class="form-control"
                placeholder="Fecha padecimiento">
        </div>
    </div> <br>
    <div class="row">
        <div class="col-3">
            Fecha de anamnesis
        </div>
        <!-- anamnesis_date -->
        <div class="col-9">
            <input type="date" [(ngModel)]="registry.anamnesis_date" class="form-control" placeholder="Fecha">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Cedula del medico encargado
        </div>
        <!-- anamnesis_date -->
        <div class="col-7">
            <input type="text" [(ngModel)]="registry.id_medical_staff" class="form-control" placeholder="Cedula">
        </div>
        <div class="col-1">
            <button class="btn btn-primary" (click)="searchMedic()">Buscar</button>
        </div>
        <div class="col-1">
            <button class="btn btn-primary" (click)="addRegister(registry.id_medical_staff)">Agregar</button>
        </div>
    </div>