<br>
<div class="row">
    <div class="col-12">
        <p><b>Resumen Anamnesis</b></p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table table-hover">
            <thead>
                <tr>
                    <th colspan="4" class="text-center" style="background-color: teal; color: white;">Datos personales
                        generales</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Cedula</th>
                    <td>{{newAnamnesis.id_patient}}</td>
                    <th>Examen fisico</th>
                    <td>{{newAnamnesis.id_physical_exam}}</td>
                </tr>
                <tr>
                    <th>Fecha padecimiento</th>
                    <td>{{newAnamnesis.condition_Date}}</td>
                    <th>Enfermedad actual</th>
                    <td>{{newAnamnesis.actual_disease}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="row">
    <div class="col-12 ">
        <table class="table table table-hover">
            <thead>
                <tr>
                    <th colspan="2" class="text-center" style="background-color: teal; color: white;">Antecedentes
                        personales</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="2" class="text-center">Antecedentes personales patologicos</th>
                </tr>
                <tr>
                    <th>Quirurgicos</th>
                    <td>{{newAnamnesis.pathological_personal_history.quirurgicos}}</td>
                </tr>
                <tr>
                    <th>Traumáticos</th>
                    <td>{{newAnamnesis.pathological_personal_history.traumaticos}}</td>
                </tr>
                <tr>
                    <th>Clínicios</th>
                    <td>{{newAnamnesis.pathological_personal_history.clinicos}}</td>
                </tr>
                <tr>
                    <th colspan="2" class="text-center">Antecedentes personales no patologicos</th>
                </tr>

                <tr>
                    <th>Actividad física</th>
                    <td>{{newAnamnesis.no_pathological_personal_history.physic_activities}}</td>
                </tr>
                <tr>
                    <th>Hábitos tóxicos</th>
                    <td>{{newAnamnesis.no_pathological_personal_history.toxic_habits}}</td>
                </tr>
                <tr>
                    <th>Alimnetación</th>
                    <td>{{newAnamnesis.no_pathological_personal_history.alimentation}}</td>
                </tr>
                <tr>
                    <th>Habitos de sueño</th>
                    <td>{{newAnamnesis.no_pathological_personal_history.dream_habits}}</td>
                </tr>
                <tr>
                    <th>Última donación de sangre </th>
                    <td>{{newAnamnesis.no_pathological_personal_history.last_blood_donation}}</td>
                </tr>
                <tr>
                    <th>Automedicación </th>
                    <td>{{newAnamnesis.no_pathological_personal_history.automedication}}</td>
                </tr>
                <tr>
                    <th>Higiene </th>
                    <td>{{newAnamnesis.no_pathological_personal_history.hygiene}}</td>
                </tr>
                <tr>
                    <th>Vacunas </th>
                    <td>{{newAnamnesis.no_pathological_personal_history.vaccines}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table table-hover">
            <tbody>
                <tr>
                    <th colspan="4" class="text-center">Condiciones de vivienda</th>
                </tr>
                <tr>
                    <th>Tipo de vivienda</th>
                    <td>{{newAnamnesis.housing_conditions.house_type}}</td>
                    <th>Zona</th>
                    <td>{{newAnamnesis.housing_conditions.zone}}</td>
                </tr>
                <tr>
                    <th>Alcantarillado</th>
                    <td>{{newAnamnesis.housing_conditions.sewerage}}</td>
                    <th>Fabricas cercanas</th>
                    <td>{{newAnamnesis.housing_conditions.nearby_factories}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table table-hover">
            <thead>
                <th colspan="5" class="text-center" style="background-color: teal; color: white;">Antecedentes
                    familiares</th>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombre completo</th>
                    <th scope="col">Enfermedad</th>
                    <th scope="col">Relacion</th>
                    <th scope="col">Fuente</th>
                </tr>
                <tr *ngFor='let f of newAnamnesis.familyHistoryList'>
                    <th scope="row">{{f?.family.cedula}}</th>
                    <td>{{f?.family.full_name}}</td>
                    <td>{{f?.family.disease}}</td>
                    <td>{{f?.family.relationship}}</td>
                    <td>{{f?.family.source}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table table-hover">
            <thead>
                <tr>
                    <th colspan="5" class="text-center" style="background-color: teal; color: white;">Antecedentes
                        Laborales</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Fecha inicio</th>
                    <th scope="col">Fecha fin</th>
                    <th scope="col">Trabajo</th>
                    <th scope="col">Actividad</th>
                </tr>
                <tr *ngFor='let w of newAnamnesis.workHistoryList'>
                    <td>{{w?.start_work_date}}</td>
                    <td>{{w?.end_work_date}}</td>
                    <td>{{w?.work.work}}</td>
                    <td>{{w?.work.activity_description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table table-hover">
            <thead>
                <tr>
                    <th colspan="5" class="text-center" style="background-color: teal; color: white;">Sintomas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Sintoma</th>
                    <th scope="col">Descripcion</th>
                </tr>
                <tr *ngFor='let symp of newAnamnesis.patientSymptomList'>
                    <th scope="row">{{symp?.symptom.id_symptom}}</th>
                    <td>{{symp?.symptom.symptom_name}}</td>
                    <td>{{symp?.symptom.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table table-hover">
            <thead>
                <tr>
                    <th colspan="5" class="text-center" style="background-color: teal; color: white;">Diagnosticos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Enfermedad</th>
                    <th scope="col">Observaciones</th>
                </tr>
                <tr *ngFor='let dise of newAnamnesis.presumptiveDiagnosticList'>
                    <th scope="row">{{dise?.disease.id_disease}}</th>
                    <td>{{dise?.disease.disease}}</td>
                    <td>{{dise?.diagnostic}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!--<div class="">
    <div class="row">
        <div class="col-3">
            Informacion examen físico
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="newAnamnesis.id_physical_exam" class="form-control"
                placeholder="Examen físico">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Motivo de consulta
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="newAnamnesis.reason_consultation" class="form-control"
                placeholder="Motivo de consulta">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Fecha padecimiento
        </div>
        <div class="col-9">
            <input type="date" [(ngModel)]="newAnamnesis.condition_Date" class="form-control"
                placeholder="Fecha padecimiento">
        </div>
    </div> <br> -->
<div class="row">
    <div class="col-3">
        Fecha de anamnesis
    </div>
    <!-- anamnesis_date -->
    <div class="col-9">
        <input type="date" [(ngModel)]="registry.anamnesis_date" class="form-control" placeholder="Fecha">
    </div>
</div>
<br>
<div class="row">
    <div class="col-3">
        Cedula del medico encargado
    </div>
    <!-- anamnesis_date -->
    <div class="col-7">
        <input type="text" [(ngModel)]="registry.id_medical_staff" class="form-control" placeholder="Cedula">
    </div>
    <div class="col-1">
        <button class="btn btn-primary" (click)="searchMedic(registry.id_medical_staff)">Buscar</button>
    </div>
    <div class="col-1">
        <button class="btn btn-primary" (click)="addRegister(registry.id_medical_staff)">Agregar</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <table class="table table table-hover">
            <thead>
                <tr>
                    <th colspan="5" class="text-center" style="background-color: teal; color: white;">Pesonal médico encargado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombres </th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                </tr>
                <tr *ngFor='let med of medics'>
                    <th scope="row">{{med?.cedula}}</th>
                    <td>{{med?.nombre}}</td>
                    <td>{{med?.apellido}}</td>
                    <td>{{med?.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>