<app-navbar></app-navbar>
<div class="row" >
    <div class="col-4">
        <a href="/"><img src="./assets/imglogo.png" alt=""></a>
    </div>
    <div class="col-4">
        <p><b> Autores</b></p>
        <p> Moyano Juan</p>
        <p> Tapia Diego</p>

    </div>
    <div class="col-4">
        <p><b> Docente</b></p>
        <p> Ing. Villie Morocho</p>
        <p> Facultad de Ingenieria</p>
        <p> Universidad de Cuenca</p>
    </div>
</div>
<div class="row" >
    <div class="col-12">
        <p>Este módulo fue desarrollado como parte de la materia Base de Datos II , periodo
            marzo-julio 2020</p>
    </div>
</div>