<div class="row">
  <div class="col-12">
    <br>
    <h1 class="text-center">Lista de trabajos</h1>
    <!-- <a type="button" class="btn btn-primary" [routerLink]="['../addWork']">Añadir trabajo</a> -->
    <table class="table table table-hover">
      <thead>
        <tr style="background-color: teal; color: white;">
          <!-- <th scope="col">ID</th> -->
          <th scope="col">Fecha inicio</th>
          <th scope="col">Fecha fin</th>
          <th scope="col">Trabajo</th>
          <th scope="col">Actividad</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let w of worksHistories'>
          <!-- <th scope="row">{{w?.id}}</th> -->
          <td>{{w?.start_work_date}}</td>
          <td>{{w?.end_work_date}}</td>
          <td>{{w?.work.work}}</td>
          <td>{{w?.work.activity_description}}</td>
          <td><button type="button" class="btn btn-secondary" routerLink="/work-edit/{{work?.id}}">Editar</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deletework(work?.id)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-12" align="center">
    <button class="btn btn-primary" (click)="open(mymodal)">Agregar trabajo</button>
  </div>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-work [(newWorkHistory)]="workHistory"></app-add-work>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>