<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-12 text-center ">
            <b>Antecedentes Personales Patológicos</b>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-3">
            Clínicos
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="pathologicalHistory.clinicos" class="form-control" placeholder="Clinicos">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Quirúrgicos
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="pathologicalHistory.quirurgicos" class="form-control" placeholder="Quirúrgicos">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Traumáticos
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="pathologicalHistory.traumaticos" class="form-control" placeholder="Traumáticos">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <b>Antecedentes Personales No Patológicos</b>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Alimentación
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="noPathologicalHistory.alimentation" class="form-control" placeholder="Alimentación">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Automedicación
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="noPathologicalHistory.automedication" class="form-control" placeholder="Automedicación">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Habitos de sueño
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="noPathologicalHistory.dream_habits" class="form-control" placeholder="Habitos de sueño">
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-3">
            Higiene
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="noPathologicalHistory.hygiene" class="form-control" placeholder="Higiene">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Última donación de sangre
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="noPathologicalHistory.last_blood_donation" class="form-control"
                placeholder="Última donación de sangre ">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Actividad Física
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="noPathologicalHistory.physic_activities" class="form-control" placeholder="Actividad física">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Habitos tóxicos
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="noPathologicalHistory.toxic_habits" class="form-control" placeholder="Habitos tóxicos">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Vacunas
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="noPathologicalHistory.vaccines" class="form-control" placeholder="Vacunas">
        </div>
    </div>


    <br>
    <div class="row">
        <div class="col-12 text-center">
            <b>Condiciones de vivienda</b>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-3">
            Tipo de vivienda
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="housingCondition.house_type" class="form-control" placeholder="Tipo de vivienda">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Fabricas cercanas
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="housingCondition.nearby_factories" class="form-control" placeholder="Fabricas cercanas">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Alcantarillado
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="housingCondition.sewerage" class="form-control" placeholder="Alcantarillado">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Acceso a agua potable
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="housingCondition.water_access" class="form-control" placeholder="Acceso a agua potable">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            Zona
        </div>
        <div class="col-9">
            <input type="text" [(ngModel)]="housingCondition.zone" class="form-control" placeholder="Zona">
        </div>
    </div>
</div>
